:root{
  scroll-behavior: smooth;
}

#wrapper{
  min-height: 100vh;
}

.background{
  background: rgb(142,45,226);
  background: linear-gradient(130deg, rgba(142,45,226,1) 0%, rgba(74,0,224,1) 44%, rgba(142,45,226,1) 100%); 
  height: 100%;
}

.course-term{
  padding-top: 20em;
}

.course-term1{
  padding-top: 10em;
}
.course-term2{
  padding-top: 2em;
  min-height: 50vh;
  max-width: 1000px;
}

.rc-time-picker-input {
  width: 100%;
  position: relative;
  display: block;
  padding: .375rem .75rem;
  height: 35px;
  cursor: text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main{
  width: 100%;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}
.main-1{
  /* display: flex; */
  /* position: relative; */
  align-items: flex-start;
  width: 100%;
  margin: 0px auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 150px 0px;
  justify-content: center;
  text-align: center;
}

.term-select{
  /* display: flex; */
  align-items: flex-start;
  width: 100%;
  margin: 0px auto;
  padding: 150px 0px;
  min-height: 100vh;
  max-width: 1000px;
  justify-content: center;
  text-align: center;
}

.term-final{
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0px auto;
  padding: 150px 0px;
  min-height: 50vh;
  max-width: 1000px;
  justify-content: center;
  text-align: center;
  /* margin-bottom: -150px; */
}

.term-input{
  /* display: flex; */
  align-items: flex-start;
  margin: 2.125em 15.62em 0px 15.62em;
  opacity: 80%;
}

a,a:hover{
  color:transparent;
}

h1{
  font-size: 53.28px;
  color: #fff;
}

h1 span{
  font-weight: 900;
}

.text-color{
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-button{
  margin-top: 100px;
}


h2{
  font-size: 2.22em;
  font-weight: 900;
  line-height: 1.6;
  /* position: relative; */
  text-transform: uppercase;
}

h5{
  font-size: 1.32em;
  width: 100%;
  height: 100%;
  margin-bottom: -20em;
  margin-top: .8em;
}

.text-centered{
  text-align: center;
}


.section-time{
  /* position: relative; */
  position: ab;
  height: calc(var(--section-height) / 1.5);
  text-align: center;
  padding-top: 15em;
  margin-bottom: 30em;
}

.time-input{
  align-items: center;
  opacity: 80%;
  padding: 3.125em 25.62em 0px 25.62em;
  margin-bottom: 10em;
}

label{
  font-size: 1.32em;
  width: 100%;
  height: 100%;
  margin-bottom: -20em;
  margin-top: .8em;
  line-height: 1.17em; margin: 1.67em 0
}



.down-button{
  margin-top: 10em;
  position: absolute;
  width: 4em;
  height: 4em;
  margin-left: -2em;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
  /* transform: translate(-50%,0%); */
  animation: mainArrow 1.5s infinite;
  /* box-shadow: inset,0,0,0,50px,black; */
}

.down-button::after{
  position: absolute;
  top: 50%;
  /* background-color: red; */
  left: 50%;
  width: 1.50em;
  height: 1.50em;
  content: '';
  margin-left: -0.750em;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  margin-top: -0.850em;
  box-sizing: border-box;
}

@keyframes mainArrow {
  from {
    transform: translateY(-2em);
  }
}

.animated{
  animation-duration: 5s;
  animation-fill-mode: both;
}

.fade-in{
  animation-name: fadeIn
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delay{
  animation-delay: .30s !important;
}